In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,4),columns=list('ABCD'))
df

          A         B         C         D
0 -0.312824  1.349362  0.129971 -1.020919
1 -0.651849 -0.804679 -0.655050  0.677441
2 -0.363675 -1.879053  0.069083 -0.980622
3 -0.234099  0.392989 -2.548423  0.650585
4  0.328531 -0.569482 -1.167056 -0.026034

In [5]:
df.iat[0,1]

1.349362040995808

In [7]:
df.at[0,'B']

1.349362040995808